*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
    width: 1000px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.banner .logo{
    position: relative;
    right: 3%;
}

header, footer{
    background-color: red;
}

.banner .logo{
    position: relative;
    right: 3%;
}

header{
    margin: 60px 0;
    padding: 10px 5% 10px 5%;
}

h1{
    display: inline;
    text-align: center;
    font-size: 3em;
    padding: 50px;
}

.links li{
    display: inline-block;
    position: relative;
    left: 80%;
    bottom: 35px;
    padding: 10px;
    
}

.links a{
    font-weight: bold; 
    color: white;   
    text-decoration: none;
}

.links a:hover{
    background-color: brown;
    color:black
}

.history h2{
    text-decoration: underline;
}

.history p{
    display: inline-block;
    margin: 20px 0;
    width: 50%;
    line-height: 1.3em;
    padding: 5px;
   
}

.history img{
    position: relative;
    float: right;
    top: 20px;
    width: 50%;
}


.directives h2{
    padding: 40px 0;
    text-decoration: underline;
}

.container-2{
    display: flex;
    justify-content: center;
    margin: 40px 0;
    background-color: red;

}

.container-2 div{
    margin: 10px;
    height: 300px;
    width: 300px;
    border: 10px solid beige;
   
}

.container-2 div img{
    background-size:auto;
}

.image-1{
    background-image: url('owner.jpg');
    
}

.image-2{
    background-image:url('chairman.png')
}

.image-3{
    background-image:url('manager.jpg')
}

.container-2 p{
    font-weight: bold;
    text-align: center;
    position:relative;
    bottom: 40px;
}

.stadium h2{
    text-decoration: underline;
}

.stadium p, .stadium img{
    margin: 20px 0;
}

.stadium img{
    margin: 20px 0;
    width: 1000px;
    border: 1px solid black;
}

footer{
    padding: 20px;
    font-weight: bold;
}

.results h2, .players h2{
    font-size: 2em;
}
.results h2{
    text-align: center;
    text-decoration: underline;
}
table{
    margin: 40px auto;
    border:5px solid black;
}

table th{
    font-weight: bold;
    text-decoration: underline;
}

table th, table td{
    border: 2px dotted black;
    padding: 50px;
    font-size: 1.5em;
    font-weight: bold ;
}

.players h2{
    text-align: center;
    text-decoration: underline;
}

@media (max-width: 760px){
    body{
        background-color:aquamarine;
    }

    .banner{
        margin-bottom: -80px;
    }

    .links{
        width: 100vw;
        margin: 60px 0;
    }

    h2, .history p, .stadium p{
        width: 190vw;
        margin: 10px;
        text-align: center;
    }

    .history p{
        width: 80%;
        text-align: center;
    }

    .history img{
        width: 79%;
        position: relative;
        right: 14%;
        margin: 50px;
    }

    .directives{
        margin: 20px 0;
    }

    .container-2{
        flex-direction: column;
        align-items: center;
    }

    .container-2 div{
        margin: 40px;
        position: relative;
        right: 8%;
    }

    .history h2, .directives h2{
        text-align: center;
        position: relative;
        left: 5%;
        margin: 10px 0;
    }

    .constainer-2 p{
        margin: 20px;
        text-align: center;
    }

    table{
        width: 50%;
    }
    
    table th{
        font-weight: bold;
        text-decoration: underline;
    }
    
    table th, table td{
        border: 2px dotted black;
        padding: 50px;
        font-size: 1.5em;
        font-weight: bold ;
    }
    
    .players h2{
        text-align: center;
        text-decoration: underline;
    }




}
